@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
  --foreground: rgba(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
    --foreground: rgba(255, 255, 255); 
  }
}

body {
  background-image: url('/eeeeeee.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: var(--foreground);
  font-family: Arial, Hel vetica, sans-serif;
}

/* White glassmorphism block background */
.glass-white {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.promo-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: transparent;
  border-radius: 8px;
}
.promo-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb; /* Tailwind blue-600 */
  border-radius: 8px;
}
.promo-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1e40af; /* Tailwind blue-800 */
}
.promo-scrollbar::-webkit-scrollbar-track {
  background: #181512;
  border-radius: 8px;
}

/* Firefox */
.promo-scrollbar {
  scrollbar-color: #2563eb #181512;
  scrollbar-width: thin;
}


.loading {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}

.spinner {
  width: 35px;
  height: 35px;

  border: 4px solid #ddd;
  border-top-color: #000;
  border-radius: 50%;

  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}