@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
  --foreground: rgba(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(255, 255, 255); /* ใช้ rgba สำหรับการระบุสีและความทึบ */
    --foreground: rgba(255, 255, 255); 
  }
}

body {
  background: var(--background);
  
  /* ตัวเลือกที่ 1: ใส่พื้นหลังแบบรูปภาพ */
  /* background-image: url('/images/background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  
  /* ตัวเลือกที่ 2: ใช้สีไล่ระดับ (gradient) */
  /* background: linear-gradient(to bottom right, #667eea, #764ba2); */
  
  /* ตัวเลือกที่ 3: พื้นหลังสีทึบ */
  /* background: #0f172a; */
  
  /* ตัวเลือกที่ 4: รูปภาพพร้อม overlay สีทึบ (ปกปิดรูปเกิน) */
  /* background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/images/background.jpg'); */
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.promo-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: transparent;
  border-radius: 8px;
}
.promo-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb; /* Tailwind blue-600 */
  border-radius: 8px;
}
.promo-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1e40af; /* Tailwind blue-800 */
}
.promo-scrollbar::-webkit-scrollbar-track {
  background: #181512;
  border-radius: 8px;
}

/* Firefox */
.promo-scrollbar {
  scrollbar-color: #2563eb #181512;
  scrollbar-width: thin;
}
